<md-card>
    <table>
        <tr>
            <td><button md-icon-button (click)="deleteThisMessage()"><md-icon>delete</md-icon></button></td>
            <td>
                <label>Name:</label> &nbsp; {{message?.user}}
                <br>
                <label>Message:</label> &nbsp;{{message?.message}}
            </td>
        </tr>
    </table>
</md-card>
<br>
<form>
    <input type="text" name="NewText" placeholder="Update the message" [(ngModel)]="newMessage">
    <button md-icon button (click)="sendUpdate()"><md-icon>message</md-icon></button>
</form>